/* utility */

.line {
    display: inline-block;
    width: 10%;
}
.hovered_plus {
    opacity: 0;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 5rem;
    background-color: rgb(25, 135, 84, 0.5);
    width: calc(100% - 1.5rem);
    height: 100%;
    cursor: pointer;
}
.position-relative:hover .hovered_plus {
    display: flex;
    opacity: 1;
}